<html>
    <head>
        <title>Eyes</title>
    </head>
    <body>
        <h2>Please input your Eye products</h2>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.eye_concealer_product.label }} {{ form.eye_concealer_product }}
                <br>
                {{ form.eye_shadow_product.label }} {{ form.eye_shadow_product }}
                <br>
                {{ form.eye_liner_product.label }} {{ form.eye_liner_product }}
                <br>
                {{ form.mascara_product.label }} {{ form.mascara_product }}
                <br>
                {{ form.eye_brow_pencil_product.label }} {{ form.eye_brow_pencil_product}}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div> <a href="{{ url_for('make_up_bag') }}">Eye Products</a>
    </body>
</html>