<html>
    <head>
        <title>Make-up bag</title>
    </head>
    <body>
        <h2>Please input your name</h2>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.third_name.label }} {{ form.third_name }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
        <table style="width:100%">
            <thead>
            <tr>
                <th>Name </th>    
            </tr>
        </thead>
        <tbody>
            {% for m in make_up_bag %}
            <tr>
                <td>{{m.third_name}} </td>
                <td><a href='/face/{{m.id}}' type ="button">Face Products</a></td>
            </tr> {% endfor %} 
        </tbody>    
        </table>
    </body>
</html>